@model ServiceResponse<GetVehicleDto>

@{
    ViewData["Title"] = "View";
}

<h1>Vehicle Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data.ModelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data.RTONumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data.RTONumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data.Class)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Data.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
